.contractAddressInput,
.existingContract {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 6rem 0;
}
.contractAddressInput form {
  display: flex;
  height: 6rem;
  align-items: center;
  background: #eee;
  width: 80%;
}
.inputGroup {
  width: 90%;
}
.inputGroup input {
  width: 100%;
  background: none;
  height: 100%;
  font-size: 2.25rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
}
.btnGroup {
  background: #b25ff3;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.existingContract {
  flex-direction: column;
}
.contractDetail {
  margin: 0 0 2rem 0;
  font-size: 3rem;
}
.contractDetail a {
  font-size: 3rem;
  color: #b25ff3;
}
.contractDetail sup {
  margin: 0 0 0 1rem;
  font-size: 1rem;
}
.subBtn {
  margin: 3rem 0 0 0;
  display: flex;
  justify-content: center;
}
.subBtn div {
  background: #b25ff3;
  padding: 1rem 2rem;
  font-size: 3rem;
  width: fit-content;
}
.error {
  font-size: 3rem;
}
@media (prefers-color-scheme: dark) {
  .contractAddressInput form {
    background: #151515;
  }
}
